<div class="section container">

	<h2 class="section-title">Other ways we meet need</h2>


		<div class="ministriesGrid-container isContained">


<ul class="ministriesGrid padding-top-xxl">

			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/cure_hunger" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_hunger.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_hunger-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Every day, almost 50 million Americans face food insecurity." />
					<p class="ministriesGrid-title">Cure Hunger</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Every day, almost 50 million Americans face food insecurity.</p>
							<i class="ministriesGrid-icon icon icon-hunger"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Cure Hunger</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/overcome_poverty" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_poverty.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_poverty-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="One out of every six Americans lives in poverty." />
					<p class="ministriesGrid-title">Overcome Poverty</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">One out of every six Americans lives in poverty.</p>
							<i class="ministriesGrid-icon icon icon-need"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Overcome Poverty</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/provide_shelter" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_shelter.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_shelter-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Every night in the U.S., more than 550,000 people go homeless." />
					<p class="ministriesGrid-title">Provide Shelter</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Every night in the U.S., more than 550,000 people go homeless.</p>
							<i class="ministriesGrid-icon icon icon-shelter"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Provide Shelter</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/fight_human_trafficking" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_trafficking.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_trafficking-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="The average age of entry into the American sex trade is 13 years old." />
					<p class="ministriesGrid-title">Fight Human Trafficking</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">The average age of entry into the American sex trade is 13 years old.</p>
							<i class="ministriesGrid-icon icon icon-trafficking"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Fight Human Trafficking</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/stop_domestic_abuse" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_domestic_abuse.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_domestic_abuse-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Every 9 seconds in the U.S., a woman is assaulted or beaten." />
					<p class="ministriesGrid-title">Stop Domestic Abuse</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Every 9 seconds in the U.S., a woman is assaulted or beaten.</p>
							<i class="ministriesGrid-icon icon icon-domestic_abuse"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Stop Domestic Abuse</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/equip_families" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_families.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_families-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="45 percent of high school students say there are gangs — or students who consider themselves part of a gang - in their schools." />
					<p class="ministriesGrid-title">Equip Families</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">45 percent of high school students say there are gangs — or students who consider themselves part of a gang - in their schools.</p>
							<i class="ministriesGrid-icon icon icon-families"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Equip Families</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/teach_kids" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_education.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_education-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="40% of children living in poverty aren’t prepared for primary schooling." />
					<p class="ministriesGrid-title">Teach Kids</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">40% of children living in poverty aren’t prepared for primary schooling.</p>
							<i class="ministriesGrid-icon icon icon-education"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Teach Kids</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/empower_the_arts" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_music.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_music-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Shrinking school budgets limit the future of educational music programs." />
					<p class="ministriesGrid-title">Empower the Arts</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Shrinking school budgets limit the future of educational music programs.</p>
							<i class="ministriesGrid-icon icon icon-music"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Empower the Arts</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/assist_the_unemployed" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_jobs.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_jobs-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Over 30% of the homeless population suffers from mental health disorders." />
					<p class="ministriesGrid-title">Assist the Unemployed</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Over 30% of the homeless population suffers from mental health disorders.</p>
							<i class="ministriesGrid-icon icon icon-jobs"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Assist the Unemployed</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/treat_addiction" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_addiction.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_addiction-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Alcohol abuse kills 75,000 people in the United States every year." />
					<p class="ministriesGrid-title">Treat Addiction</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Alcohol abuse kills 75,000 people in the United States every year.</p>
							<i class="ministriesGrid-icon icon icon-addiction"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Treat Addiction</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/help_disaster_survivors" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_disaster.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_disaster-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Each year, natural disasters negatively effect over 90 million Americans." />
					<p class="ministriesGrid-title">Help Disaster Survivors</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Each year, natural disasters negatively effect over 90 million Americans.</p>
							<i class="ministriesGrid-icon icon icon-disaster"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Help Disaster Survivors</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/love_the_elderly" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_elderly.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_elderly-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="7 million Americans over the age of 65 experience depression." />
					<p class="ministriesGrid-title">Love the Elderly</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">7 million Americans over the age of 65 experience depression.</p>
							<i class="ministriesGrid-icon icon icon-elderly"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Love the Elderly</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/serve_veterans" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_veterans.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_veterans-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Veterans represent 26% of our nation’s homeless population." />
					<p class="ministriesGrid-title">Serve Veterans</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Veterans represent 26% of our nation’s homeless population.</p>
							<i class="ministriesGrid-icon icon icon-veterans"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Serve Veterans</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/share_gods_love" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_love.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_love-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="79% of people believe that spiritual faith can help people recover from disease." />
					<p class="ministriesGrid-title">Share God's Love</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">79% of people believe that spiritual faith can help people recover from disease.</p>
							<i class="ministriesGrid-icon icon icon-love"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Share God's Love</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/the_greatest_need" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_need.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_need-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Eighty-two cents of every dollar donated to The Salvation Army helps meet the greatest need in your local community." />
					<p class="ministriesGrid-title">Meet the Greatest Need</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Eighty-two cents of every dollar donated to The Salvation Army helps meet the greatest need in your local community.</p>
							<i class="ministriesGrid-icon icon icon-need"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Meet the Greatest Need</span>
						</div>
					</div>
				</a>
			</li>
			<li class="ministriesGrid-item js-showOnHoverParent">
				<a href="/symphonyusw/brighten_the_holidays" class="ministriesGrid-link">						
					<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/symphonyusw/assets/images/ministriesGrid/grid_holidays.jpg 768w, /symphonyusw/assets/images/ministriesGrid/grid_holidays-lg.jpg"
					class="ministriesGrid-image  lazyload"
					sizes="(max-width: 768px)"
					alt="Each December, millions of parents must choose between giving gifts or paying bills." />
					<p class="ministriesGrid-title">Brighten the Holidays</p>
					<div class="ministriesGrid-overlay u-showOnHover js-showOnHover">
						<div class="ministriesGrid-content">
							<p class="ministriesGrid-caption">Each December, millions of parents must choose between giving gifts or paying bills.</p>
							<i class="ministriesGrid-icon icon icon-holidays"></i>
							<span class="btn btn-inverse btn-black ministriesGrid-btn">Brighten the Holidays</span>
						</div>
					</div>
				</a>
			</li>

</ul>
		</div>

	</div>